:root {
	/* -----------------------------------------------------------------------------
	 * Opacities
	 * ----------------------------------------------------------------------------- */

	--sswp-opacity-background: 0.07;
	--sswp-opacity-select-highlighted: 0.3;
	--sswp-opacity-icon-hover: 0.8;
	--sswp-opacity-icon-active: 0.9;
	--sswp-opacity-default: 1;
}