:root {
	/* -----------------------------------------------------------------------------
	 * Spacers
	 * ----------------------------------------------------------------------------- */

	--sswp-spacer-0: 4px;
	--sswp-spacer-1: 8px;
	--sswp-spacer-2: 12px;
	--sswp-spacer-3: 16px;
	--sswp-spacer-4: 20px;
	--sswp-spacer-5: 24px;
	--sswp-spacer-6: 28px;
	--sswp-spacer-7: 32px;
	--sswp-spacer-8: 40px;
	--sswp-spacer-9: 48px;
	--sswp-spacer-10: 56px;
	--sswp-spacer-11: 64px;
	--sswp-spacer-12: 80px;
	--sswp-spacer-13: 96px;
	--sswp-spacer-14: 160px;

	--sswp-spacer-admin-0: 10px;
	--sswp-spacer-admin-1: 20px;
}